@charset "UTF-8";

body {
    margin: 100px 30px;
    padding:30px;
	font-family: 'Andale Mono', sans-serif;
    border: 1px dashed black;
    height: 50%;
    background: #fff;
    color: #444;
}


h1 {
    font-size: 4em;
}

.dev {
    color: #00f900;
}

